.comment-section {
  height: 700px;
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
}

.comment-section > div > h3 {
  font-weight: bold;
  letter-spacing: -1.5px;
  color: #960c0c;
}

.comment {
  margin-bottom: 100px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 650px;
  width: 460px;
}

.slider {
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.comment-img {
  background-color: #ffb403;
  height: 400px;
  width: 500px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 5;
}

.rounded {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.quote-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #00d689;
  border: 1px solid #00d689;
  color: #fff;
  z-index: 100;
  transform: translate(440px, -630px);
}

.growth-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  width: 700px;
  background-color: #fff2c7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: translate(415px, -760px);
  position: absolute;
  overflow: hidden;
}

.growth-box .site-pattern {
  width: 1110px !important;
  left: -400px;
  overflow: hidden;
}

.growth-box::before {
  content: "";
  height: 750px;
  width: 700px;
  /* background: url('../svgs/site-pattern.svg') no-repeat; */
  position: absolute;
  top: 448px;
}

.my-rounded {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.growth-box-text {
  padding: 75px;
  width: 100%;
  margin-left: 120px;
}

.content-slider {
  position: relative;
}

.content {
  position: absolute;
  opacity: 0;
  transition: all 0.8s ease-in-out;
  margin-top: 8rem;
  transform: translateX(700px);
}

.content.current {
  opacity: 1;
  transform: translateX(-10px);
}

.extra-content {
  display: none;
}

.show-extra-content {
  display: inline;
}

.read-more-btn {
  margin-top: 10px;
  cursor: pointer;
  color: #960c0c;
  font-weight: bold;
}

.read-less-btn {
  display: block;
}

.growth-box-text h4 {
  color: #960c0c;
  font-weight: 600;
  font-size: 2rem;
}

.growth-box-text p {
  color: #455a64;
  letter-spacing: 0.21px;
  max-width: 430px;
  line-height: 30px;
}

.growth-box-text .read-more {
  color: #ff2e2e;
  text-decoration: none;
}

.growth-box-text h5 {
  margin-top: 53px;
  font-weight: 600;
  color: #960c0c;
}

.hide-dots {
  display: none;
}

.pic-timer {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 7px solid #fff;
  position: absolute;
  transform: translate(190px, 230px);
}

.margin-zero {
  margin: 0 !important;
}

#next,
#prev {
  margin-top: 10px;
  cursor: pointer;
}

.carousel-mover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}
.project {
  position: relative;
  background-color: #fff2c7;
  border-radius: 8px;
  overflow: hidden;
}

.project .text-uppercase {
  font-weight: bold;
  color: #960c0c;
  letter-spacing: 2px;
}

.project h3 {
  font-weight: 600;
  color: #ff2e2e;
  letter-spacing: -1px;
}

.case-study-image {
  background-color: #ff7e1d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  max-width: 500px;
}

.case-study-image .img-fluid {
  border-radius: 4px;
}

.become-us {
  margin-top: 240px;
  margin-bottom: 240px;
}

.become-us h2 {
  letter-spacing: -1.5px;
  font-weight: bold;
  color: #960c0c;
}

.partner-join {
  width: 100%;
}

.native-apply {
  width: 138px;
}

/* .partners {
  font-weight: 500;
  font-size: 1em;
  background-color: #ff2e2e;
  transition: all 0.5s ease-in-out;
  border: 1px solid #ff2e2e;
} */

/* .partners:hover {
    opacity: 0.78;
} */

/*  Media queries */
.parag {
  line-height: 30px;
}

.last-section {
  background-color: #fff2c7;
  position: relative;
  overflow: hidden;
}

.last-section .w {
  width: 100%;
}
.last-section .row {
  margin-top: 60px;
}

.last-section h2.h3 {
  font-weight: bold;
  color: #960c0c;
  letter-spacing: -1.8px;
  font-size: 3.5rem;
}
.footer-section p {
  color: #455a64;
  line-height: 30px;
}

.last-section .row > div + div > p {
  color: #455a64;
  max-width: 620px;
}

.last-section .links h5 {
  color: #960c0c;
  font-weight: bold;
  letter-spacing: -1px;
}

.last-section .links a {
  color: black;
}

.last-section .links a:hover {
  color: black;
}

.last-section input {
  border: #ff2e2e 0.5px solid;
  padding: 16px;
  color: rgba(150, 12, 12);
  font-weight: 500;
  outline: none;
  /* letter-spacing: 1.5px; */
}

.last-section input::placeholder {
  font-weight: lighter;
  color: rgba(150, 12, 12, 0.418);
  /* letter-spacing: 1.5px; */
}

#name-input {
  width: 200px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: white;
}

#email-input {
  width: 300px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: white;
}

#subscribe-btn {
  background-color: #ff2e2e;
  color: #fff;
  border-radius: 5px;
  border: #ff2e2e 0.5px solid;
  outline: none;
  padding: 12px 35px;
  transition: all 0.6s ease-in;
  font-weight: 500;
  height: 58px;
}

#subscribe-btn:hover {
  opacity: 0.88;
}

hr.last-hr {
  width: 100%;
  border: 3px solid #fff6d7;
}

.last-section .contact-links h5 {
  color: #960c0c;
  font-weight: bold;
}

a.tel {
  color: #960c0c;
}

/* .not-focusable:focus {
  outline: none;
  box-shadow: none;
} */

.last-section .address,
a#e-mail {
  color: #960c0c;
}

a#e-mail:hover,
.tel:hover,
.address:hover {
  color: black;
}

.social-box > a {
  color: #ff2e2e;
  transition: all 0.5s ease-out;
}

.social-box > a:hover {
  color: #960c0c;
}

.footer p {
  z-index: 1000;
  color: #ff2e2e;
  text-align: center;
}
.fab {
  font-size: 2rem;
}
.footer-container {
  background-image: url("http://semicolonhome.herokuapp.com/imgs/pngs/PNG/site%20pattern@4x.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .future h2 {
    font-size: 2.2rem;
    max-width: 360px;
    min-width: 370px;
  }
  .future p {
    font-size: 1.2rem;
  }
  .learn-more h2 {
    font-size: 2rem;
  }
  .building p.h1 {
    font-size: 3rem;
  }
  .parag.lead {
    font-size: 1.3rem;
  }
  #whitepaper {
    margin-top: 90px;
  }
  .partner-box h1 {
    font-size: 3rem;
  }
  /* .partner-box p {
        font-size: 25px;
    } */
  .project .text-uppercase {
    font-size: 14px;
  }
  .project h3 {
    font-size: 3rem;
  }
  .partner-lg,
  .project .partner {
    padding: 12px 30px;
  }
  .become-us h2 {
    font-size: 3rem;
  }
  .native-apply,
  .partner-join {
    padding: 12px 30px;
  }
  .native-apply {
    width: 207px;
  }
  .comment-section > div > h3 {
    font-size: 2.5rem;
  }
  .growth-box-text h4 {
    font-size: 2rem;
  }
  .growth-box-text h5 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 991px) {
  .comment-section {
    display: none;
  }
}
